*.DS_Store
data_wrangling_json/.ipynb_checkpoints/sliderule_dsi_json_exercise-checkpoint.ipynb
data_wrangling_json/.ipynb_checkpoints/sliderule_dsi_xml_exercise-checkpoint.ipynb
data_wrangling_xml/.ipynb_checkpoints/sliderule_dsi_xml_exercise-checkpoint.ipynb
pre-capstone/.ipynb_checkpoints/NY_City-checkpoint.ipynb
pre-capstone/DOHMH_New_York_City_Restaurant_Inspection_Results.csv
*.csv
capstone/.ipynb_checkpoints/proposal-checkpoint.ipynb
pre-capstone/boston_data/yelp_academic_dataset_business.json
*.json
capstone/.ipynb_checkpoints/datastory-checkpoint.ipynb
datastory.pdf
pre-capstone/.ipynb_checkpoints/NY_State-checkpoint.ipynb
statistics project 1/.ipynb_checkpoints/sliderule_dsi_inferential_statistics_exercise_1-checkpoint.ipynb